// design tokens 는 전부 전역 클래스로 적용됩니다.

// Source Sans Pro 폰트가 디폴트로 적용됩니다.


// -------------------- DISPLAY

@media screen and (max-width: 600px) {
  .font-display-large {
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 44px;
    letter-spacing: 0.01em;
  }
  
  .font-size-display-small {
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 40px;
    letter-spacing: 0.01em;
  }
  
  
  // -------------------- FONTS
  
  .font--f1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
  } 
  
  .font--f2 {
    font-weight: 600;
    font-size: 29px;
    line-height: 32px;
  }
  
  .font--f3 {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
  }
  
  .font--f4 {
    font-style: normal;
    font-weight: 600;
    font-size: 22.5px;
    line-height: 28px;
  }
  
  .font--f5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  
  .font--large {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20.25px;
    line-height: 28px;
    color: #545D69;
  }
  
  .font--quote {
    font-style: normal;
    font-weight: 600;
    font-size: 22.5px;
    line-height: 28px;
    color: #09101D;
  }
  
  .font--longform-serif {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #09101D;
  }
  
  .font--longform-sans {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #09101D;
  }
  
  .font--base {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #545D69;
  }
  
  .font--description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #545D69;
  }
  
  .font--small {
    font-style: normal;
    font-weight: normal;
    font-size: 14.4px;
    line-height: 20px;
    color: #545D69;
  }
  
  .font--fine-print {
    font-style: normal;
    font-weight: normal;
    font-size: 11.5px;
    line-height: 16px;
    color: #545D69;
  }
  
  .font--small-caps {
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #545D69;
  }
}
