
@media screen and (min-width: 600px) {

  .font--display-large {
    font-style: normal;
    font-weight: bold;
    font-size: 71.3px;
    line-height: 72px;
    letter-spacing: 0.01em;
    color: #09101D;
  }

  .font--display-small {
    font-style: normal;
    font-weight: bold;
    font-size: 59px;
    line-height: 56px;
    color: #09101D;
  }

  .font--f1 {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 48px;
    color: #09101D;
  }

  .font--f2 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 36px;
    color: #09101D;
  }

  .font--f3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #09101D;
  }

  .font--f4 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #09101D;
  }

  .font--f5 {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    color: #09101D;  
  }

  .font--large {
    font-style: normal;
    font-weight: normal;
    font-size: 23.5px;
    line-height: 32px;
    color: #545D69;
  }

  .font--quote {
    font-style: normal;
    font-weight: 600;
    font-size: 23.5px;
    line-height: 32px;
    color: #09101D;
  }

}