
@media screen and (min-width: 1200) {
  .font--display-large {
    font-style: normal;
    font-weight: bold;
    font-size: 107px;
    line-height: 104px;
    letter-spacing: 0.01em;
    color: #09101D;
  }

  .font--display-small {
    font-style: normal;
    font-weight: bold;
    font-size: 86px;
    line-height: 88px;
    letter-spacing: 0.01em;
    color: #09101D;
  }

  .font--f1 {
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 56px;
    color: #09101D;
  }

  .font--f2 {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 48px;
    color: #09101D;
  }

  .font--f3 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    color: #09101D;
  }

  .font--f4 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #09101D;
  }

  .font--f5 {
    font-style: normal;
    font-weight: 600;
    font-size: 22.5px;
    line-height: 28px;
    color: #09101D;
  }

  .font--large {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    color: #545D69;
  }

  .font--quote {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #09101D;
  }
}