// colors 는 variables로 구현됩니다. 전역으로 적용되므로 어디서든 끌어와서 사용할 수 있습니다.

// --------- BACKGROUND COLOR

$overlay-background:rgba(19, 65, 148, 0.7);

$darkmode-background:#3F547A;



// --------- BRAND COLOR

$brand_blue_5: #F3F7FD;
$brand_blue_7: #EEF4FC;
$brand_blue_10: #E7EFFA;
$brand_blue_20: #CEE0F5;
$brand_blue_30: #B6D0F0;
$brand_blue_40: #9DC1EB;
$brand_blue_60: #6DA1E2;;
$brand_blue_80: #3C82D8;




